In [1]:
def string(name):
    dict={}
    for i in  name:
        keys=dict.keys()
        if i in keys:
            dict[i]+=1
        else:
            dict[i]=1
    return dict
name=input("enter the string:")
string(name)

enter the string:kjfalskjflaksjfahskfaasjdlaskdjfsjlsjfas

{'k': 5, 'j': 7, 'f': 6, 'a': 7, 'l': 4, 's': 8, 'h': 1, 'd': 2}

In [2]:
from collections import Counter

In [3]:
print(Counter("akjldkalsdkjskjflakjlakjfshfajhaghsfgsdfkjsdlfkjieuriwyf"))

Counter({'k': 8, 'j': 8, 'f': 7, 'a': 6, 's': 6, 'l': 5, 'd': 4, 'h': 3, 'g': 2, 'i': 2, 'e': 1, 'u': 1, 'r': 1, 'w': 1, 'y': 1})

In [4]:
def string(name):
    dict={}
    for i in name:
        if i in dict:
            dict[i]+=1
        else:
            dict[i]=1
    return dict
name=input("enter the string:")
string(name)

enter the string:djalkjfaiuofisjfkasgfahfas;fakfljsslf;sfuhflsk

{'d': 1,
 'j': 4,
 'a': 6,
 'l': 4,
 'k': 4,
 'f': 10,
 'i': 2,
 'u': 2,
 'o': 1,
 's': 7,
 'g': 1,
 'h': 2,
 ';': 2}

In [6]:
def my(name):
    dict={}
    for i in name:
        if i in dict:
            dict[i]+=1
        else:
            dict[i]=1
            
    return dict
name=input("enter the string:")
my(name)

enter the string:qwertyuiop;;asdfghjkl;'nbvcxzasdfghjkqwertyuiopjhgfdsazxcvbnm

{'q': 2,
 'w': 2,
 'e': 2,
 'r': 2,
 't': 2,
 'y': 2,
 'u': 2,
 'i': 2,
 'o': 2,
 'p': 2,
 ';': 3,
 'a': 3,
 's': 3,
 'd': 3,
 'f': 3,
 'g': 3,
 'h': 3,
 'j': 3,
 'k': 2,
 'l': 1,
 "'": 1,
 'n': 2,
 'b': 2,
 'v': 2,
 'c': 2,
 'x': 2,
 'z': 2,
 'm': 1}

In [7]:
def func(mylist):
    "this changes a passed into this function"
    mylist=[1,2,3,4]
    print(mylist)
    return mylist
mylist=[10,20,30,40]
func(mylist)
print(mylist)

[1, 2, 3, 4]
[10, 20, 30, 40]

In [9]:
def count1(name):
    dict={}
    for i in name:
        if i in dict:
            dict[i]+=1
        else:
            dict[i]=1
    return dict
name=input("enter the first string:")
count1(name)

enter the first string:manjunath kannur

{'m': 1,
 'a': 3,
 'n': 4,
 'j': 1,
 'u': 2,
 't': 1,
 'h': 1,
 ' ': 1,
 'k': 1,
 'r': 1}

In [10]:
def linear(arr,x):
    for i in range(len(arr)):
        if arr[i]==x:
            return x
    return -1
arr=[1,2,3,5,4,7]
x=len(arr)
linear(arr,x)

-1

In [11]:
# sample program print hello word
print("hello word")

hello word

In [12]:
str=input("enter the first string:")
print(str)

enter the first string:manjunath kannur
manjunath kannur

In [17]:
def show(num,num1):
    return (num + num1)# concanatation its not adding addition
num=input("enter the first number")
num1=input("enter the second number")
show(num,num1)

enter the first number89
enter the second number98

'8998'

In [18]:
number1=input("enter the first number:")
number2=input("enter the second number:")
sum=float(number1)+float(number2)
print("total number of {0} add {1} sum{2}".format(sum,number2,number1))

enter the first number:58
enter the second number:69
total number of 127.0 add 69 sum58

In [20]:
# perform arithematic operation
number1=float(input("enter the first number:"))
number2=float(input("Enter the second number:"))
add=number1+number2
sub=number1-number2
mul=number1*number2
div=number1/number2
mod=number1%number2
print(add,sub,mul,div,mod)

enter the first number:98
Enter the second number:89
187.0 9.0 8722.0 1.101123595505618 9.0

In [21]:
import calendar

In [23]:
year=int(input("enter the year:"))
month=int(input("enter the month:"))
print(calendar.month(year,month))

enter the year:1990
enter the month:07
     July 1990
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [24]:
# cube of number
def cube(number):
    return number*number*number
number=float(input("enter the number:"))
cube(number)

enter the number:3

27.0

In [26]:
number=int(input("enter the frist number:"))
cube=number*number*number
print(cube)

enter the frist number:2
8

In [27]:
number=float(input("enter the number:"))
cube=number**3
print(cube)

enter the number:3
27.0

In [30]:
principa_amount=float(input("enter the principal amount:"))
rate_of_int=int(input("enter the rate of interest:"))
time_period=int(input("enter the time of period:"))
rat=(principa_amount*rate_of_int*time_period)/100
print(rat)

enter the principal amount:10000
enter the rate of interest:24
enter the time of period:12
28800.0

In [35]:
def interest(p,r,t):
    return (p*r*t)/100
p=float(input("enter the principal amount:"))
r=float(input("enter the rate of interest:"))
t=float(input("enter time period:"))
interest(p,r,t)

enter the principal amount:25
enter the rate of interest:35
enter time period:12

105.0

In [41]:
import math

In [48]:
def comp(p,r,t):
    show=p*(math.pow((1+r/100),t))
    com=show-p
    return com
p=float(input())
r=float(input())
t=float(input())
comp(p,t,r)

1000
24
12

14178.628934502429

In [50]:
# largest of two numbers
a=float(input())
b=float(input())
if (a>b):
    print("{0} and {1}".format(a,b))
elif (b>a):
    print("{0} and {1}".fomat(b,a))
else:
    print("nothing;")

25
3
25.0 and 3.0

In [2]:
a=float(input("enter the first number:"))
b=float(input("enter the second:"))
if (a>b):
    print("{0} and {1}".format(a,b))
elif (b,a):
    print("{0} and {1}".format(b,a))
else:
    print("nothing:")

enter the first number:65
enter the second:58
65.0 and 58.0

In [4]:
# largest three numbers
a=float(input("enter the first number:"))
b=float(input("enter the second number:"))
c=float(input("enter the third number:"))


if (a>b) and (a>c):
    print("{0} and {1} ={2}".format(a,b,c))
elif (b>a) and (b>c):
    print("{0} and {1} ={2}".format(b,a,c))
elif (c>a) and (c>b):
    print("{0} and {1} ={2}".format(c,b,a))
else:
    print("nothing:")

enter the first number:8520
enter the second number:852045
enter the third number:39852741
39852741.0 and 852045.0 =8520.0

In [10]:
# natural number
number=int(input("enter the first number:"))
print("{0}".format(number))
for i in range(1,number+1):
    print(i,end='')

enter the first number:10
10
12345678910

In [11]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [18]:
for i in range(1,10):
    print(i,end='')

123456789

In [20]:
number=int(input("enter the number:"))
i=1
print("{0}".format(number))
while(i<=number):
    print(i,end='')
    i=i+1

enter the number:10
10
12345678910

In [22]:
minimum=int(input("enter the first number:"))
maxmum=int(input("enter the second number:"))
print("{0} and {1}".format(minimum,maxmum))
for i in range(minimum,maxmum+1):
    print(i,end='')

enter the first number:1
enter the second number:10
1 and 10
12345678910

In [1]:
number=int(input("enter the number:"))
i=number
while(i>=1):
    print(i,end='')
    i=i-1

enter the number:10
10987654321

In [2]:
for i in range(1,number+1):
    print(i,end='')
    i=i+1

12345678910

In [3]:
for i in range(1,number+1):
    print(i,end='')
    i=i-1

12345678910

In [6]:
for i in range(10):
    print(i,end='')
    i=i-1

0123456789

In [10]:
# odd number
number=int(input("enter the number:"))
if (number%2==0):
    print("odd number",number)
else:
    print("even number",number)

enter the number:35
even number 35

In [12]:
number=int(input("enter the number:"))
for i in range(1,number+1):
    if (i%2==0):
        print("{0}".format(i))

enter the number:10
2
4
6
8
10

In [ ]:
maxi=int(input("enter the number:"))
number=1

while number<=maxi:
    if (number%2==0):
        print(number)
        number=number+1

enter the number:10

In [1]:
maxi=int(input("enter the max number:"))
mini=int(input("enter the min number:"))
for i in range(mini,maxi+1):
    if (i%2==0):
        print(i,end='')

enter the max number:10
enter the min number:1
246810

In [3]:
for i in range(10):
    i=i-1
    print(i)

-1
0
1
2
3
4
5
6
7
8

In [18]:
for i in reversed(range(1,10)):
    print(i,end='')

987654321

In [20]:
number=int(input("enter the number:"))
for i in reversed(range(1,number+1)):
    if (i%2==0):
        print(i)

enter the number:10
10
8
6
4
2

In [2]:
maxi=int(input("enter the first number:"))
number=1

while(number<=maxi):
    if (number%2==0):
        print(number)
    number=number+1

enter the first number:10
2
4
6
8
10

In [3]:
for i in range(1,maxi+1):
    if (i%2 !=0):
        print(i)

1
3
5
7
9

In [8]:
number=int(input("enter the number:"))

enter the number:-25

In [10]:
if (number>0):
    print("posivte number={0}".format(number))
elif(number<0):
    print("negtive number{0}".format(number))
else:
    print("nothing")

negtive number-25

In [13]:
# profit & loss
# actual_amount and sales_amount
actua_amount=float(input("enter the actual amout:"))
sale_amount=float(input("enter the sales amount:"))

if (actua_amount>sale_amount):
    amount=actua_amount-sale_amount
    print(amount)
elif (sale_amount>actua_amount):
    amount=sale_amount-actua_amount
    print(amount)
else:
    print("nothing:")

enter the actual amout:100
enter the sales amount:1000000
999900.0

In [14]:
# squre number
squre=number*number
print("square is double{0}".format(squre))

square is double625

In [15]:
square=number**2
print(squre)

625

In [18]:
def squre(number):
    return number*number

In [19]:
squre(2)

4

In [20]:
import math
number=float(input("enter the number:"))
squre=math.sqrt(number)
print("{0} and {1}".format(number,squre))

enter the number:2
2.0 and 1.4142135623730951

In [22]:
squre=math.pow(number,2)
print(squre)

4.0

In [1]:
# print multplication
print("multiplication:")
for i in range(1,10):
    for j in range(1,10):
        print("{0} * {1}={2}".format(i,j,i*j))

multiplication:
1 * 1=1
1 * 2=2
1 * 3=3
1 * 4=4
1 * 5=5
1 * 6=6
1 * 7=7
1 * 8=8
1 * 9=9
2 * 1=2
2 * 2=4
2 * 3=6
2 * 4=8
2 * 5=10
2 * 6=12
2 * 7=14
2 * 8=16
2 * 9=18
3 * 1=3
3 * 2=6
3 * 3=9
3 * 4=12
3 * 5=15
3 * 6=18
3 * 7=21
3 * 8=24
3 * 9=27
4 * 1=4
4 * 2=8
4 * 3=12
4 * 4=16
4 * 5=20
4 * 6=24
4 * 7=28
4 * 8=32
4 * 9=36
5 * 1=5
5 * 2=10
5 * 3=15
5 * 4=20
5 * 5=25
5 * 6=30
5 * 7=35
5 * 8=40
5 * 9=45
6 * 1=6
6 * 2=12
6 * 3=18
6 * 4=24
6 * 5=30
6 * 6=36
6 * 7=42
6 * 8=48
6 * 9=54
7 * 1=7
7 * 2=14
7 * 3=21
7 * 4=28
7 * 5=35
7 * 6=42
7 * 7=49
7 * 8=56
7 * 9=63
8 * 1=8
8 * 2=16
8 * 3=24
8 * 4=32
8 * 5=40
8 * 6=48
8 * 7=56
8 * 8=64
8 * 9=72
9 * 1=9
9 * 2=18
9 * 3=27
9 * 4=36
9 * 5=45
9 * 6=54
9 * 7=63
9 * 8=72
9 * 9=81

In [2]:
num=int(input("enter the first number:"))
for i in range(num,10):
    for j in range(1,10):
        print(i*j)

enter the first number:10

In [4]:
eng=float(input("enter the english marks:"))
math=float(input("enter the maths marks:"))
phy=float(input("enter the pyshics marks:"))
chem=float(input("enter the chemestry marks:"))
comp=float(input("enter the computer marks:"))

total=eng+math+phy+chem+comp
per=(total/500)*100
print(total)
print(per)

enter the english marks:95
enter the maths marks:96
enter the pyshics marks:85
enter the chemestry marks:67
enter the computer marks:97
440.0
88.0

In [5]:
if (per>=90):
    print("a grade")
elif (per>=80):
    print("b grade")
elif (per>=70):
    print("c grade")
elif (per>=60):
    print("d")
elif (per>=50):
    print("e")
elif (per>=40):
    print("f")
    
else:
    print("fail")

b grade

In [6]:
# total=math+phy+eng+comp
# avarage=total/4
# percentage=(total/4)*100
kannad=float(input("enter the kannad marks:"))
english=float(input("enter the english marks:"))
math=float(input("enter the math marks:"))
phy=float(input("enter the physics marks:"))
chem=float(input("enter the chemestry marks:"))
biology=float(input("enter the biology marks:"))

total=kannad+english+math+phy+chem+biology
avarage=total/6
per=(total/6)*100
print(total)
print(avarage)
print(per)

enter the kannad marks:98
enter the english marks:95
enter the math marks:98
enter the physics marks:96
enter the chemestry marks:92
enter the biology marks:93
572.0
95.33333333333333
9533.333333333332

In [7]:
# sum of avarage number all natural number
number=int(input("enter the number:"))
total=1
for i in range(1,num+1):
    total=total+i
avarage=total/number
print(avarage)

enter the number:25
2.24

In [9]:
total=1
for i in range(1,10):
    total=total+i
    print(total)

2
4
7
11
16
22
29
37
46

In [11]:
number=int(input('enter the number:'))
total=1
value=1
while(value<=number):
    total=total+value
    value=value+1
avarage=total/number
print("{0}&{1}".format(number,avarage))
print("{0}&{1}".format(number,total))

enter the number:25
25&13.04
25&326

In [14]:
number=int(input('enter the number:'))
total=0
for value in range(1,number+1):
    total=total+value
print("{0} and {1}".format(number,total))

enter the number:5
5 and 15

In [20]:
number=int(input('enter the number:'))
total=0
for i in range(1,number+1):
    if (i %2 !=0):
        print("{0}".format(i))
        total=total+i
    print(total)

enter the number:5
1
1
1
3
4
4
5
9

In [25]:
num=14
total=0
for i in range(1,num+1):
    total=total+i
print(total,end='')

105

In [26]:
maximum=int(input("enter the first number:"))
oddtotal=0
for i in range(1, maximum+1):
    if (i%2 !=0):
        print("{0}".format(i))
        oddtotal=oddtotal+1
print("{0}={1}".format(i,oddtotal))

enter the first number:5
1
3
5
5=3

In [27]:
maximum=int(input("enter the first number:"))
oddtotal=0
for i in range(1,maximum+1,2):
    print("{0}".format(i))
print("{0} ={1}".format(i,oddtotal))

enter the first number:5
1
3
5
5 =0

In [28]:
maxi=int(input("enter the first number:"))
total=0
for i in range(1,maxi+1):
    if (i %2==0):
        print("{0}".format(i))
        total=total+1
print("{0}={1}".format(i,total))

enter the first number:5
2
4
5=2

In [ ]:
maxi=int(input("enter the first number:"))
number=0
total=0
while(number<=maxi):
    if (number % 2 == 0):
        print("{0}".format(number))
        total=total+number
        number=number+1
print("{0}={1}".format(total))

In [1]:
import random

In [3]:
all_words = "all the words in the world".split()

In [4]:
def get_random_word():
    return random.choice(all_words)

In [5]:
get_random_word()

'the'

In [6]:
get_random_word()

'in'

In [7]:
get_random_word()

'world'

In [8]:
get_random_word()

'the'

In [ ]:
number=int(input("enter the number:"))
count=0
while(number>0):
    number=number+1
    count=count+1
print("{0}".format(number))

In [ ]:
def counting(number):
    count=0
    while (number>0):
        number=number+1
        count=count+1
    return count
number=2569
counting(number)

In [5]:
def test():
    l=[]
    for i in range(10):
        l=l+[i]
    print(l)

In [2]:
test()

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
def test():
    l=[]
    for i in range(10):
        l.append(i)
    return l

In [8]:
test()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
def test():
    l=[i for i in range(10)]
    return l

In [13]:
test()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
def test4():
    l = list(range(1000))
    return l

In [17]:
test4()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999]

In [1]:
my_movies=['kgf','mi','rockon','things','dad','new']

In [2]:
my_movies

['kgf', 'mi', 'rockon', 'things', 'dad', 'new']

In [4]:
for i in my_movies:
    for j in i:
        print(j,end='')

kgfmirockonthingsdadnew

In [36]:
xs="sjflaskjfoiefjlksjfdlk"

In [38]:
xs

'sjflaskjfoiefjlksjfdlk'

In [45]:
def mysum(xs):
    """ Sum all the numbers in the list xs, and return the total. """
    running_total = 0
    for x in xs:
        running_total = running_total + x
    return running_total

In [46]:
mysum([1,2,3,5,6])

17

In [47]:
def num_digits(n):
    count = 0
    while n != 0:
        count = count + 1
        n = n // 10
    return count

In [49]:
num_digits(710)

3

In [51]:
for x in range(10):   # Generate numbers 0 to 12
    print(x, "\t", 2**x)

0 	 1
1 	 2
2 	 4
3 	 8
4 	 16
5 	 32
6 	 64
7 	 128
8 	 256
9 	 512

In [53]:
for i in range(1,7):
    print(2*i, end="")
print()

24681012

In [62]:
def print_mult():
    for i in range(1,7):
        print(print_mult(i))

In [63]:
print_mult

In [74]:
def show(high):
    for i in range(1,high+1):
        print()

In [75]:
show(7)

TypeError: show() takes 1 positional argument but 2 were given

In [76]:
celebs = [("Brad Pitt", 1963), ("Jack Nicholson", 1937),
                                ("Justin Bieber", 1994)]

In [77]:
print(celebs)

[('Brad Pitt', 1963), ('Jack Nicholson', 1937), ('Justin Bieber', 1994)]

In [78]:
print(len(celebs))

3

In [86]:
for (x,y) in celebs:
    if y < 1980:
        print(x)

Brad Pitt
Jack Nicholson

In [87]:
string="sjlkjsoiewefhshfaskfjlasjfl"

In [90]:
for (s,a) in string:
    if a in 'a' and 's':
        print(s)

ValueError: not enough values to unpack (expected 2, got 1)

In [1]:
mylist=[10,20,30,40,50,60,70,80,90]

In [3]:
# in searching algorithm
if 20 in mylist:
    print(mylist.index(20))
else:
    print("the value is does not exist in the list:")

1

In [4]:
string="kjsofiwldsjfowiejskdflskjffiejdvnhfuwefosifjsj"

In [5]:
string

'kjsofiwldsjfowiejskdflskjffiejdvnhfuwefosifjsj'

In [12]:
if 'd' in string:
    print(string.count('d'))
else:
    print("nothing is printed:")

3

In [13]:
def searchlist(value,mylist):
    for i in mylist:
        if i == value:
            return mylist.count('k')
    return "the value does not exist"