In [2]:
def sum1(n):
    """
    take an input of n and return the sume of the number
    """
    final = 0
    for i in range(n+1):
        final +=i
    return final

In [3]:
sum1(5)

15

# loops in python

In [1]:
# syntax while loop
# while expression:
#     statement(s)

In [2]:
# while loop
count = 0
while (count < 3):
    count  +=1
    print("hello, yarazari")

hello, yarazari
hello, yarazari
hello, yarazari

In [3]:
# if condtion:
#     # excutes these statements
# else:
#     # executes these statements
# while condition:
#     # executes these statements
# else:
#     # executes these statement
count = 0
while( count > 3):
    count+=1
    print("yarazari")
else:
    print("mbl:")

mbl:

In [6]:
while (count < 3):
    count +=1
    print("count is ")
else:
    print("else part is executed: ")

else part is executed:

In [8]:
count = 0
while (count < 3):
    count  +=1
    print("hello der: {}".format(count))
else:
    print("by der:")

hello der: 1
hello der: 2
hello der: 3
by der:

# for ln loop

In [10]:
# for loop are used for sequential traversal
# for iterator_var in sequenc:
#     statement(s)
n = 4
for i in range(0,n):
    print("inner loope ",i)

inner loope  0
inner loope  1
inner loope  2
inner loope  3

In [11]:
# iterating over list
print("list iteration: ")
l = ['geeks','for','geeks']
for i in l:
    print(i)

list iteration:
geeks
for
geeks

In [12]:
t = ('geeks','for','geeks')
for i in t:
    print(t)

('geeks', 'for', 'geeks')
('geeks', 'for', 'geeks')
('geeks', 'for', 'geeks')

In [13]:
print("\n string iteration: ")
s = "renukadevi"
for i in s:
    print(i)

 string iteration:
r
e
n
u
k
a
d
e
v
i

In [14]:
d = dict()
d['xyz'] = 123
d['zbc'] = 345

In [16]:
for i in d.items():
    print(i)

('xyz', 123)
('zbc', 345)

In [17]:
for i in d:
    print(i)

xyz
zbc

In [18]:
list = ['geeks','for','geeks']

In [20]:
for index in range(len(list)):
    print(list[index],index)

geeks 0
for 1
geeks 2

In [22]:
for item in range(len(list)):
    print(list[item])
else:
    print("inside the else block: ")

geeks
for
geeks
inside the else block:

In [23]:
for item in range(len(list)):
    print(list[item])
else:
    print("nothing will display..")

geeks
for
geeks
nothing will display..

In [24]:
for i in range(0,10):
    print("inner block is ",i)
else:
    print("outer block")

inner block is  0
inner block is  1
inner block is  2
inner block is  3
inner block is  4
inner block is  5
inner block is  6
inner block is  7
inner block is  8
inner block is  9
outer block

In [25]:
# nested loops:
# for iterator_var in sequenc:
#     for iterator_var in sequence:
#         statement(s)
#     statement(s)

In [27]:
# while syntax
# while expression:
#     while expression:
#         statement(s)
#         statement(s)

In [29]:
for i in range(1,5):
    for j in range(i):
        print("inner loop: ",i,end= '')
    print("outer loop:",j)

inner loop:  1outer loop: 0
inner loop:  2inner loop:  2outer loop: 1
inner loop:  3inner loop:  3inner loop:  3outer loop: 2
inner loop:  4inner loop:  4inner loop:  4inner loop:  4outer loop: 3

In [30]:
for i in range(0,5):
    for j in range(0,3):
        print("inner loop: ",i)
    print("outer loop: ",j)

inner loop:  0
inner loop:  0
inner loop:  0
outer loop:  2
inner loop:  1
inner loop:  1
inner loop:  1
outer loop:  2
inner loop:  2
inner loop:  2
inner loop:  2
outer loop:  2
inner loop:  3
inner loop:  3
inner loop:  3
outer loop:  2
inner loop:  4
inner loop:  4
inner loop:  4
outer loop:  2

In [31]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [33]:
for i in range(0,5):
    for j in range(0,3):
        print("inner loop: ",i)
    print("outer loop: ",j)

inner loop:  0
inner loop:  0
inner loop:  0
outer loop:  2
inner loop:  1
inner loop:  1
inner loop:  1
outer loop:  2
inner loop:  2
inner loop:  2
inner loop:  2
outer loop:  2
inner loop:  3
inner loop:  3
inner loop:  3
outer loop:  2
inner loop:  4
inner loop:  4
inner loop:  4
outer loop:  2

In [34]:
for i in range(0,3):
    for j in range(1,i):
        print("inner loop: ",j)
    print("outer loop: ",i)

outer loop:  0
outer loop:  1
inner loop:  1
outer loop:  2

In [2]:
n = 4
for i in range(0,n):
    for j in range(1,i):
        print("inner loop: ",j)
    print("outer loop: ",i)

outer loop:  0
outer loop:  1
inner loop:  1
outer loop:  2
inner loop:  1
inner loop:  2
outer loop:  3

In [3]:
n = 4
for i in range(0,n):
    print(i)

0
1
2
3

In [4]:
print("list iteration: ")
li = ['geeks','for','geeks']
for i in li:
    print(i)

list iteration:
geeks
for
geeks

In [5]:
print("\n tuple iteration: ")
t = ('geeks','for','geeks')
for i in t:
    print(i)

 tuple iteration:
geeks
for
geeks

In [6]:
t = ('kannur','to','yarazari')
for i in t:
    print(i)

kannur
to
yarazari

In [7]:
s = "manjunath kannur"
for i in s:
    print(i)

m
a
n
j
u
n
a
t
h

k
a
n
n
u
r

In [8]:
print("\n dictionary iteration: ")
d = dict()
d['xyz'] = 123
d['abc'] = 345

 dictionary iteration:

In [10]:
for i in d:
    print("%s %d " %(i,d[i]))

xyz 123
abc 345

In [11]:
list = ['geeks','for','geeks']
for index in range(len(list)):
    print(list[index])

geeks
for
geeks

In [12]:
for i in range(len(list)):
    print(index,list[index])

2 geeks
2 geeks
2 geeks

In [13]:
list = ['geeks','for','geeks']
for index in range(len(list)):
    print(list[index])
else:
    print("inside else block: ")

geeks
for
geeks
inside else block:

In [14]:
# nested loops 
# syntax 
# for iterator_var in sequence:
#     for iterator_var in sequence:
#         statement(s)
#         statement(s)

In [15]:
# while expression:
#     while expression:
#         statement(s)
#         statement(s)

In [18]:
for i in range(1,5):
    for i in range(i):
        print("inner loop ",j,end = '')
    print('outer loop:',i)

inner loop  2outer loop: 0
inner loop  2inner loop  2outer loop: 1
inner loop  2inner loop  2inner loop  2outer loop: 2
inner loop  2inner loop  2inner loop  2inner loop  2outer loop: 3

In [20]:
for letter in 'geeksforgeeks':
    if letter == 'e' or letter =='s':
        continue
    print("current letter: ",letter)
    var = 10

current letter:  g
current letter:  k
current letter:  f
current letter:  o
current letter:  r
current letter:  g
current letter:  k

In [21]:
# break statement 
for letter in 'geeksforgeeks':
    if letter == 'e' or letter =='s':
        break
    print("current letter: ",letter)

current letter:  g

In [22]:
# pass statement
for letter in 'geeksforgeeks':
    pass
print("last letter: ",letter)

last letter:  s

In [23]:
fruits = ['apple','orange','kiwi']
for fruit in fruits:
    print(fruit)

apple
orange
kiwi

In [24]:
iter_obj = iter(fruits)

In [25]:
iter_obj

In [26]:
next(iter_obj)

'apple'

In [27]:
item = iter(fruits)

In [28]:
while True:
    try:
        fruit = next(item)
        print(fruit)
    except StopIteration:
        break

apple
orange
kiwi

In [1]:
i = 1
while ( i< 5):
    j = 1
    while (j <5):
        j+=1
        print("inner loop: ",j)
    i+=1
    print("outer loop: ",i)

inner loop:  2
inner loop:  3
inner loop:  4
inner loop:  5
outer loop:  2
inner loop:  2
inner loop:  3
inner loop:  4
inner loop:  5
outer loop:  3
inner loop:  2
inner loop:  3
inner loop:  4
inner loop:  5
outer loop:  4
inner loop:  2
inner loop:  3
inner loop:  4
inner loop:  5
outer loop:  5

In [2]:
i = 1
while (i < 5):
    j = 1
    while (j < 5):
        print("inner loop",j)
        j+=1
    print("outer loop: ",i)
    i+=1

inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop:  1
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop:  2
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop:  3
inner loop 1
inner loop 2
inner loop 3
inner loop 4
outer loop:  4

# loops controls statements

In [3]:
# (continue break and pass) in python
# while expression:
#     statement(s)
count = 0
while (count < 3):
    count = count+1
    print("hello word:")

hello word:
hello word:
hello word:

In [9]:
count = 0
while (count < 3):
    count+=1
    print(count)

1
2
3

# for in loop

In [10]:
# for iterator_var in sequence:
#     statement(s)
print("list Iteration: ")
l = ['geeks','for','geeks']
for i in l:
    print(i)

list Iteration:
geeks
for
geeks

# different looping techniques using python data

In [11]:
# using enumerat() is used to loop through the containers
for key,value in enumerate(['the','big','bang','theory']):
    print(key,value)

0 the
1 big
2 bang
3 theory

In [12]:
list = ['the','big','bang','theory']

In [13]:
for item in enumerate(list):
    print(item)

(0, 'the')
(1, 'big')
(2, 'bang')
(3, 'theory')

In [17]:
for key,value in enumerate(list):
    print(key)
    print(value)

0
the
1
big
2
bang
3
theory

In [16]:
print(value)

theory

# using zip()
1. zip() is used to combine 2 similar containers(list-list or dict-dict)

In [18]:
questions = ['name','color','shape']
answers = ['apple','red','a circle']

In [19]:
# using zip() combine two containers
# and print values
for item,data in zip(questions,answers):
    print("what is your {0} i am {1}".format(item,data))

what is your name i am apple
what is your color i am red
what is your shape i am a circle

# using iteritem() & using items()
1. using iteritem loop through the dictinary printing the key- value pair sequentially
2. using items() performs the similar task on dictionary as iteritems()

In [20]:
d = {'geeks':'for','one':'yarazari','two':'mbl'}

In [21]:
d

{'geeks': 'for', 'one': 'yarazari', 'two': 'mbl'}

In [24]:
print("the key value pair using iteritems is : ")
for i, j in d.iteritems():
    print(i,j)

the key value pair using iteritems is :

AttributeError: 'dict' object has no attribute 'iteritems'

In [26]:
print("the key value pair using items is : ")
for i, j in d.items():
    print(i,j)

the key value pair using items is :
geeks for
one yarazari
two mbl

In [27]:
king = {'akbar':'the great','chandragupta':'the maurya','manjunath':'the changer'}

In [28]:
king

{'akbar': 'the great',
 'chandragupta': 'the maurya',
 'manjunath': 'the changer'}

In [30]:
for key,value in king.items():
    print(key,value)

akbar the great
chandragupta the maurya
manjunath the changer

In [31]:
# using sorted container is sorted order set() can be combined to remove duplicate
lis = [1,3,5,6,2,1,3]

In [34]:
print("the list in sorted order is : ")
for i in sorted(lis):
    print(i,end=',')
print('\r')

the list in sorted order is :
1,1,2,3,3,5,6,

In [35]:
print("the list in sorted order is : ")
for i in sorted(set(lis)):
    print(i,end='')

the list in sorted order is :
12356

In [36]:
basket = ['guave','orange','apple','pear','guava','banana','grape']

In [37]:
basket

['guave', 'orange', 'apple', 'pear', 'guava', 'banana', 'grape']

In [38]:
for fruit in sorted(set(basket)):
    print(fruit)

apple
banana
grape
guava
guave
orange
pear

# using reversed()
1. reversed() is used to print containder in the reversed order

In [39]:
lis = [1,3,5,6,2,1,3]

In [40]:
print("the list in reversed order is : ")
for i in reversed(lis):
    print(i,end = '')

the list in reversed order is :
3126531

In [42]:
for i in reversed( range(1,10,2)):
    print(i)

9
7
5
3
1

# program for printing pyramid patterns in python

In [43]:
def pattern(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print("*" , end='')
        print("\r")

In [44]:
pattern(5)

*
**
***
****
*****

# range in python

In [45]:
# range() - this returns a range object 
a = range(0,5)
print(a)

range(0, 5)

In [46]:
print(type(a))

<class 'range'>

In [47]:
import sys

In [48]:
a = range(0,5)

In [49]:
print(a)

range(0, 5)

In [50]:
print("this size alloted using range() is : ")
print(a)

this size alloted using range() is :
range(0, 5)

In [51]:
print(sys.getsizeof(a))

48

In [52]:
a = range(1,6)

In [53]:
print(a)

range(1, 6)

In [54]:
print("the list after slicing using range is : ")
print(a[2:5])

the list after slicing using range is :
range(3, 6)