In [4]:
from playsound import playsound
playsound('E:\\sample\\.Naughty Boy - La la la ft. Sam Smith (Official Video).webm')

PlaysoundException:
    Error 263 for command:
        open "E:\sample\.Naughty Boy - La la la ft. Sam Smith (Official Video).webm" alias playsound_0.5421668317046162
    The specified device is not open or is not recognized by MCI.

In [5]:
import os

In [6]:
print(os.listdir())

['.anaconda', '.android', '.atom', '.bash_history', '.conda', '.condarc', '.config', '.gitconfig', '.idea', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.pgAdmin4.427924103.addr', '.pgAdmin4.427924103.log', '.pgAdmin4.startup.log', '.PyCharm2019.1', '.pylint.d', '.python_history', '.spyder-py3', '.vscode', '.~2021-jan-03 6.07.2021-jan-3 6', '.~2021-jan-3 6', '.~stock-21-01-03 10', '2021-jan-3 6', '26-feb.ipynb', '3D Objects', 'Adani_Enterprise.csv', 'algo-13.ipynb', 'algorithm_feb_8.ipynb', 'Anaconda3', 'API STOCK', 'api.2021-jan-3 6', 'Apollo_Tyres.csv', 'Apollo_Tyres1.csv', 'Apollo_Tyreslowhigh.csv', 'AppData', 'Application Data', 'Bank_Nifty.csv', 'calc.ipynb', 'config', 'Contacts', 'Cookies', 'debug.log', 'december.15', 'Desktop', 'div', 'Documents', 'Downloads', 'edb_languagepack.exe', 'edb_languagepack_94.exe', 'edb_mtk.exe', 'edb_npgsql.exe', 'edb_pem_agent.exe', 'edb_pem_server.exe', 'edb_pem_server.exe-20200201022218', 'edb_pem_server.exe-20200201022234', 'Election', 'Favorites', 'feb-1.ipynb', 'feb-16.ipynb', 'feb-17 algo.ipynb', 'feb-2.ipynb', 'feb-27.ipynb', 'feb-28.ipynb', 'first.py', 'hacking_mail.ipynb', 'infy_stock.csv', 'instax', 'instgram_save.ipynb', 'IntelGraphicsProfiles', 'Jindal_Steel.csv', 'Jindal_steel1.csv', 'kannur_stock.ipynb', 'Links', 'Local Settings', 'loginpage.html', 'martch-04.ipynb', 'MicrosoftEdgeBackups', 'Module.ipynb', 'Music', 'My Documents', 'NetHood', 'nifty_it_index.csv', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{10a193c9-1560-11eb-ae0d-f42382946dc7}.TM.blf', 'NTUSER.DAT{10a193c9-1560-11eb-ae0d-f42382946dc7}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{10a193c9-1560-11eb-ae0d-f42382946dc7}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'password.txt', 'pemhttpd.exe', 'pic27218.jpg', 'pic31862.jpg', 'pic98520.jpg', 'Pipfile', 'Pipfile.lock', 'postgresql_94.exe', 'prices.csv', 'PrintHood', 'Program_Example.ipynb', 'python algorithm.ipynb', 'Recent', 'requirements.txt', 'Saved Games', 'Searches', 'SendTo', 'sherlock', 'Start Menu', 'stock-21-01-03 10', 'tcs_stock.csv', 'Templates', 'timeproject.ipynb', 'untitled', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled10.ipynb', 'Untitled11.ipynb', 'Untitled12.ipynb', 'Untitled13.ipynb', 'Untitled14.ipynb', 'Untitled15.ipynb', 'Untitled16.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Untitled4.ipynb', 'Untitled5.ipynb', 'Untitled6.ipynb', 'Untitled7.ipynb', 'Untitled8.ipynb', 'Untitled9.ipynb', 'Videos', 'whatsapp_hack', 'yarazari10.com']

In [7]:
# variable & data types
a=30
b="manjunath"
c=45.32
print(a,b,c)

30 manjunath 45.32

In [8]:
"""
integer ,
floating,
string,
boolean,
None
"""

'\ninteger ,\nfloating,\nstring,\nboolean,\nNone\n'

In [11]:
d=True
F=False
g=None

print(type(d))
print(type(F))
print(type(g))

<class 'bool'>
<class 'bool'>
<class 'NoneType'>

In [12]:
# operatore python
"""
arithematic
assign 
comparision
logical

"""

a=3
b=4

print('the value is ',a*b)
print('the value is ',a+b)

the value is  12
the value is  7

In [13]:
a=0
a+=1
print(a)

1

In [15]:
# comparsion operator
b=14<7
print(b)

False

In [18]:
# logical operator

bool1=True
bool2=False
(bool1 and bool2)

False

In [19]:
# type casting --one data type to another data type
a='3454'
a=int(a)
print(a+5)

3459

In [20]:
# input functon
a=input("enter your name:")

enter your name:24

In [21]:
a

'24'

In [23]:
a=int(a)
print(type(a))

<class 'int'>

In [24]:
# add two number avg
(a+b)/2

12.0

In [25]:
a*2

48

In [29]:
()

13824

In [30]:
# string data types--squence of charecter
a=34
b='manjunath'
print(a,b)

34 manjunath

In [31]:
type(a)

int

In [32]:
type(b)

str

In [33]:
name="Manjunath"

In [34]:
name

'Manjunath'

In [35]:
type(name)

str

In [36]:
greeting ="good morning"

In [39]:
c=(name+ greeting)

In [40]:
c

'Manjunathgood morning'

In [41]:
name

'Manjunath'

In [42]:
name[0]

'M'

In [43]:
name[1]

'a'

In [44]:
name[3]

'j'

In [45]:
name[3]='djksdl'-- does not work

TypeError: 'str' object does not support item assignment

In [47]:
# slicing 
name[0:3]

'Man'

In [48]:
name[0:4]

'Manj'

In [49]:
name[0:]

'Manjunath'

In [50]:
name[:5]

'Manju'

In [51]:
name[:-1]

'Manjunat'

In [53]:
name[0:4]

'Manj'

In [54]:
name[1:4]

'anj'

In [57]:
c=name[-4:-1]

In [58]:
c

'nat'

In [61]:
name[1:4:2]

'aj'

In [60]:
name

'Manjunath'

In [62]:
# string function

In [63]:
story ='once time a thee was a your named harry who uploaded python course withe notes'

In [64]:
story

'once time a thee was a your named harry who uploaded python course withe notes'

In [65]:
len(story)

78

In [66]:
story.endswith('notes')

True

In [67]:
story.endswith('ksldjslk')

False

In [68]:
story.count('a')

6

In [69]:
story.count('notes')

1

In [70]:
story.count('y')

3

In [74]:
# capatilized word
story.capitalize()

'Once time a thee was a your named harry who uploaded python course withe notes'

In [75]:
#python list--ordered 
a=[1,2,3,45,56]

In [76]:
a

[1, 2, 3, 45, 56]

In [77]:
# create list[]
c=[55,'manjunath',68.36,False]

In [78]:
c

[55, 'manjunath', 68.36, False]

In [79]:
# list methods
l1=[1,8,7,78,2,21,15]
l1.sort()

In [80]:
l1

[1, 2, 7, 8, 15, 21, 78]

In [81]:
l1.reverse()

In [82]:
l1

[78, 21, 15, 8, 7, 2, 1]

In [86]:
l1.append(89)

In [87]:
l1

[78, 21, 15, 8, 7, 2, 1, 25, 85, 89]

In [89]:
l1.insert(2,44)

In [90]:
l1

[78, 21, 44, 44, 15, 8, 7, 2, 1, 25, 85, 89]

In [91]:
l1.pop()

89

In [93]:
l1.remove(21)

In [94]:
l1

[78, 44, 44, 15, 8, 7, 2, 1, 25, 85]

In [95]:
# tuple 
# immutable data types
# dictinary key , values pairs--mutable data types.

In [96]:
mydict={
   "manjunath":"first name",
    "kannur":"Last name",
    "marks":[1,2,3]
}

In [97]:
mydict

{'manjunath': 'first name', 'kannur': 'Last name', 'marks': [1, 2, 3]}

In [98]:
mydict.items()

dict_items([('manjunath', 'first name'), ('kannur', 'Last name'), ('marks', [1, 2, 3])])

In [99]:
 mylist=[1,5,6,79,8,9,5,6,9,8,4,16,3]

In [100]:
count=0

In [101]:
for i in mylist:
    count=count+1

In [102]:
count

13

In [103]:
# conditional expression

In [104]:
a=22
if (a>9):
    print("greater than 9")
else:
    print("less than")

greater than 9

In [105]:
a=int(input("enter your age :"))
if a>18:
    print("age is greater than ")
else:
    print("less than")

enter your age :25
a is greater than

In [106]:
string="ksdfjieslkdfoeijlskdfjoief"

In [108]:
print('k' in string)

True

In [4]:
# looping 
i=0
while i<10:
    print("yes")
    i=i+1

yes
yes
yes
yes
yes
yes
yes
yes
yes
yes

In [2]:
myfruit=['banan','mango','watermelon','greps']

In [5]:
i=0
while i<len(myfruit):
    print(myfruit[i])
    i=i+1

banan
mango
watermelon
greps

In [6]:
for item in myfruit:
    print(item)

banan
mango
watermelon
greps

In [9]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [10]:
# break statement

In [13]:
for i in range(10):
    print(i)
    if i==5:
        break
else:
    print("this is insidee else of for")

0
1
2
3
4
5

In [14]:
# continure
for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [15]:
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [16]:
num=int(input("enter the number:"))

enter the number:2

In [17]:
for i in range(1,11):
    print(str(num)+'x'+str(i)+'='+str(i*num))

2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
2x10=20

In [18]:
le=['Harry','Sohan','Sachin','Rahul']

In [23]:
for i in le:
    if i.startswith('S'):
        print("hell"+i)

hellSohan
hellSachin

In [24]:
i=0
while i<10:
    print("")
    i=i+1

In [25]:
num =int(input("enter the number:"))

enter the number:25

In [26]:
for i in range(2,num):
    if (num%i==0):
        prime=False
        break
if prime:
    print("this number prime")
else:
    print("thsi not number:")

thsi not number:

In [33]:
factrial=1
for i in range(1,num+1):
    factrial=factrial*i
print(f"the total factorial=".format(factrial))

the total factorial=

In [32]:
num=int(input("enter the number:"))

enter the number:25

In [36]:
def shw(n):
    if n==0:
        return 1
    return n *shw(n-1)

In [37]:
shw(5)

120

In [38]:
for i in range(4):
    print("*" *i)

*
**
***

In [51]:
for i in range(4):
    print("*" * (i+1))

*
**
***
****

In [54]:
for i in range(4):
    print("a" * (i+1))

a
aa
aaa
aaaa

In [57]:
def fact():
    print("hello")

In [58]:
fact()

hello

In [59]:
def greet(name):
    print("good day"+ name)

In [60]:
greet("manju")

good daymanju

In [63]:
def great(name):
    gr="hello word"+ name
    return gr

In [64]:
great('manjunath')

'hello wordmanjunath'

In [65]:
# recursion functions

In [71]:
def fact(n):
    if n== 1 or n==0:
        return 1
    return n * fact(n-1)

In [72]:
fact(5)

120

In [73]:
import random

def game():
    pass


print(randNo)
a=input("comp turn :snake(s) water(w) or gun(g)")
randNo=random.randint(1,2)
if randNo==1:
    comp='s'
elif randNo
b=input("playe 2 turn :snake(s) water(w) or gun(g)")

#game()

2

TypeError: game() takes 0 positional arguments but 1 was given

In [76]:
class A:
    def show(self,a,b):
        self.a=a
        self.b=b
        return self.a+self.b
    
num=A()
num.show(3,6)

9

In [77]:
"""
camel case 
pascal case
"""

'\ncamel case \npascal case\n'

In [96]:
class Employee:
    company ="google"
    salary=300
    address="yarazari"
manju=Employee()

In [98]:
print(manju.company)
manju.salary

google

300

In [92]:
class Manjunath:
    company="google"
    salary=2500
    
kannur=Manjunath()

In [93]:
kannur.company

'google'

In [89]:
kannur.salary

2500

In [99]:
manju.company

'google'

In [100]:
manju.address

'yarazari'

In [107]:
class Kannur:
    company="google"
    def function(self):
        print("salary is 100k")
manju=Kannur()
manju.function()

salary is 100k

In [108]:
Kannur.function(manju)

salary is 100k

In [109]:
print("hello")

hello

In [110]:
# static method

In [111]:
manju

AttributeError: 'Kannur' object has no attribute 'greet'