In [22]:
link=[10,20,30,40,50]

In [26]:
for i in range(len(link)):
    print(i,link[i])

0 10
1 20
2 30
3 40
4 50

In [30]:
for i in link:
    if 10 in range(len(link)):
        print(link[i])
    else:
        print("nothing")

nothing
nothing
nothing
nothing
nothing

In [35]:
for i in range(5):
    for j in range(0,i+1):
        print(i,end='')
    print("*")

0*
11*
222*
3333*
44444*

In [36]:
# adding two numbers
num1=15
num2=12
sum=num1+num2
print("sum of {0} and{1} is {2}".format(num1,num2,sum))

sum of 15 and12 is 27

In [39]:
number1=int(input("first number:"))
number2=int(input("second number:"))
total=float(number1)+float(number2)
print("the sum of {0} and {1} is {2}".format(number1,number2,total))

first number:25
second number:36
the sum of 25 and 36 is 61.0

In [42]:
a=2
b=4
def show(a,b):
    if a<b and b<a:
        print("smallar thean",a,b)
    else:
        print("greater than",b,a)

In [43]:
show(2,5)

greater than 5 2

In [50]:
show(5)

*************************/n

In [55]:
n=10
sum=0
i=1
while i<=n:
    sum=sum+1
    i=i+1
print("the sum is",sum)

the sum is 10

In [56]:
for key,value in enumerate(['the','big','bang','theory']):
    print(key,value)

0 the
1 big
2 bang
3 theory

In [58]:
string="this is my word"

In [62]:
for i in string:
    print(i.count('t'),end='')

100000000000000

In [63]:
def maxi(a,b):
    if a >= b:
        return a
    else:
        return b

In [64]:
maxi(5,12)

12

In [8]:
def show(a,b):
    if a <= b:
        print("a is greater  thean equal to b")
    else:
        return b #("greater then equal to ")

In [9]:
show(25,98)

a is greater  thean equal to b

In [10]:
def show(a,b):
    if a < b:
        return a
    else:
        return b
a=23
b=50
print(a,b)

23 50

In [11]:
def show (a,b):
    a=float(input("enter a values:"))
    b=float(input("enter b values:"))
    if a < b:
        return a
    else:
        return b
show(a,b)

enter a values:25
enter b values:36

25.0

In [13]:
def show(a,b):
    a=int(input("enter the frist number:"))
    b=int(input("enter the second number:"))
    if a < b:
        return a 
    else:
        return b 
show(a,b)

enter the frist number:25
enter the second number:36

25

In [14]:
def show(a,b):
    a=int(input("enter the first number:"))
    b=int(input("enter the second number:"))
    if a < b :
        return a
    else:
        return b
show(a,b)

enter the first number:56
enter the second number:98

56

In [15]:
def show(a,b):
    a=4
    b=5
    maximum=max(a,b)
    print(maximum)
show(a,b)

5

In [24]:
def show(n):
    if n==0:
        return 1
    return n * show(n-1)

In [25]:
show(5)

120

In [4]:
num=int(input("enter the number:"))
fact=1
for i in range(1,n+1):
    fact=fact*i
    print("factorial of",num,"is",fact)

enter the number:5
factorial of 5 is 1
factorial of 5 is 2
factorial of 5 is 6
factorial of 5 is 24
factorial of 5 is 120

In [5]:
result=1
for num in range(1,6):
    result*=num
    print(result)
print(result)

1
2
6
24
120
120

In [34]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [37]:
arr1=[1,2,3,4,5]
arr2=[6,7,8,9,10]
for first ,second in zip(arr1,arr2):
    print(first)
    print(second)

1
2
3
4
5

In [40]:
for i in range(10):
    print(i)
    if i==3:
        i.update(7)

0
1
2
3

AttributeError: 'int' object has no attribute 'update'

In [48]:
string="manjunath kannur"
for i in reversed(string):
    print(i,end='')

runnak htanujnam

In [51]:
string="kannur"
for i in sorted(string,reverse=True):
    print(i)

u
r
n
n
k
a

In [70]:
n=5
#range(start,stop,hop)
range(n)
#for i in range(1,n):
 #   print(i)
#for i in range(1,n,2):
 #   print(i)
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [74]:
for i in range(1*2,10*2):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [80]:
for i in range(1,n-1):
    print(i)

1
2
3

In [87]:
arr=[1,2,3,4,5]
for i in range(len(arr)-1,-1,-1):
    print(i,arr[i])

4 5
3 4
2 3
1 2
0 1

In [88]:
arr=[1,2,3,4,5]

In [91]:
a=[1,2,3,4]
a[len(a)-2]

3

In [92]:
from collections import Counter
num_list=[1,2,3,4,5,6,7,8,9]
cnt=Counter(num_list)
print(dict(cnt))

{1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

In [93]:
string="jlsjiewlsldfowiehdfksjhfdsbdfsbduwieufh"
ct=Counter(string)
print(ct)

Counter({'s': 5, 'd': 5, 'f': 5, 'j': 3, 'l': 3, 'i': 3, 'e': 3, 'w': 3, 'h': 3, 'b': 2, 'u': 2, 'o': 1, 'k': 1})

In [94]:
animals=['dog','cat','mice']
[animal for animal in animals]

['dog', 'cat', 'mice']

In [97]:
animals = ['aardvark', 'bee', 'cat', 'dog']
[(i, animals[i]) for i in range(len(animals))]

[(0, 'aardvark'), (1, 'bee'), (2, 'cat'), (3, 'dog')]

In [99]:
animals

['aardvark', 'bee', 'cat', 'dog']

In [100]:
for i in range(len(animals)):
    print(i,animals[i])

0 aardvark
1 bee
2 cat
3 dog

In [104]:
[(i,animals[i]) for i in range(len(animals))]

[(0, 'aardvark'), (1, 'bee'), (2, 'cat'), (3, 'dog')]

In [105]:
animals=['book','swast','mackruls']
[(i,animals) for i in enumerate(animals) ]

[((0, 'book'), ['book', 'swast', 'mackruls']),
 ((1, 'swast'), ['book', 'swast', 'mackruls']),
 ((2, 'mackruls'), ['book', 'swast', 'mackruls'])]

In [106]:
[animals[i] for i in range(len(animals)-1,-1,-1)]

['mackruls', 'swast', 'book']

In [107]:
for i in range(5,-1,-1):
    print(i)

5
4
3
2
1
0

In [108]:
my_string=""
mylist=list("ieuksjlksoiwondhsdhiwuhsj")
for item in mylist:
    my_string+=item
    print(my_string)

i
ie
ieu
ieuk
ieuks
ieuksj
ieuksjl
ieuksjlk
ieuksjlks
ieuksjlkso
ieuksjlksoi
ieuksjlksoiw
ieuksjlksoiwo
ieuksjlksoiwon
ieuksjlksoiwond
ieuksjlksoiwondh
ieuksjlksoiwondhs
ieuksjlksoiwondhsd
ieuksjlksoiwondhsdh
ieuksjlksoiwondhsdhi
ieuksjlksoiwondhsdhiw
ieuksjlksoiwondhsdhiwu
ieuksjlksoiwondhsdhiwuh
ieuksjlksoiwondhsdhiwuhs
ieuksjlksoiwondhsdhiwuhsj

In [116]:
my_string=''
mylist=list("manjunathkannur")
my_string="".join([item for item in mylist])
print(my_string)

manjunathkannur

In [117]:
import os
import socket

In [118]:
print(os)

<module 'os' from 'C:\\Users\\yaraz\\Anaconda3\\lib\\os.py'>

In [119]:
print(socket)

<module 'socket' from 'C:\\Users\\yaraz\\Anaconda3\\lib\\socket.py'>

In [120]:
numbers=[1,2,4,5,6]
i=0
while i < len(numbers):
    print(numbers[i])
    i+=1

1
2
4
5
6

In [121]:
my=['a','b','c']
i=0
while i < len(my):
    print(my[i])
    i +=1

a
b
c