In [1]:
# a fucntion call it self
# exit from infinit loop
"""
syntax of recursive
def recursionMethod(para):
if exit from condition satisfied:
return some value
else:
recursionMethod(modified para)
"""

'\nsyntax of recursive\ndef recursionMethod(para):\nif exit from condition satisfied:\nreturn some value\nelse:\nrecursionMethod(modified para)\n'

In [4]:
def firstMethod():
    secondMethod()
    print("i am first method:")
def secondMethod():
    thirdMethod()
    print("i am second method")
def thirdMethod():
    fourthMethod()
    print("i am third method:")
def fourthMethod():
    print("i am fourth method:")

In [5]:
firstMethod()

i am fourth method:
i am third method:
i am second method
i am first method:

In [6]:
secondMethod()

i am fourth method:
i am third method:
i am second method

In [7]:
thirdMethod()

i am fourth method:
i am third method:

In [8]:
fourthMethod()

i am fourth method:

In [9]:
firstMethod()

i am fourth method:
i am third method:
i am second method
i am first method:

In [10]:
def recursiveMethod(n):
    if n<1:
        print("less than one:")
    else:
        recursiveMethod(n-1)
        print(n)

In [12]:
recursiveMethod(4)

less than one:
1
2
3
4

In [19]:
# recursive method
def poweroftwo(n):
    if n==0:
        return 1
    else:
        power=poweroftwo(n-1)
        return power*2

In [21]:
power(2)

4

In [27]:
def power(n):
    if n==0:
        return 1
    else:
        power1=power(n-1)
        return power1*3

In [28]:
power(3)

27

In [29]:
def power2(n):
    i=0
    power=1
    while(i<1):
        power=power*2
        i=i+1
        return power

In [30]:
power(2)

9

In [40]:
# base equation of factorial
"""
!n=n*(n-1)*(n-2)
"""

'\n!n=n*(n-1)*(n-2)\n'

In [44]:
def factorial(n):
    assert n>=0 and int(n)==n, "the number must be positive"
    if n in [0,1]:
        return 1
    else:
        return n * factorial(n-1)

In [45]:
factorial(-1)

AssertionError: the number must be positive

In [50]:
# fibonaci f(n)=f(n-1)+f(n-2)
def fibonaci(n):
    assert n>=0 and int(n)==n, "fibonacci number cannot be negative number or non integer"
    if n in [0,1]:
        return n
    else:
        return fibonaci(n-1)+fibonaci(n-2)

In [52]:
fibonaci(-1)

AssertionError: fibonacci number cannot be negative number or non integer

In [62]:
def sumofdigit(n):
    assert n>=0 and int(n)==n, "integer of posivtive number"
    if n==0:
        return 0
    else:
        
        return int(n%10)+sumofdigit(int(n/10))

In [66]:
sumofdigit(25245)

18

In [73]:
def power(n):
    for i in n:
        if i**2:
            print(i)
        else:
            print("nothing:")

In [74]:
power(2)

TypeError: 'int' object is not iterable

In [75]:
def power(n):
    if n==0:
        return 1
    else:
        power1=power(n-1)
        return power1*2

In [76]:
power(2)

4

In [82]:
def power(base,exp):
    assert if exp>=0 and int(exp)=exp,"the integer is positive or negative"
    if exp==0:
        return 1
    if exp==1:
        return base
    return base*power(base,exp-1)

SyntaxError: invalid syntax (<ipython-input-82-4ca6df048190>, line 2)

In [80]:
power(2,4)

16

In [85]:
# gcd 
def gcd(a,b):
    assert int(a)==a and int(b)==b,"the number must be integer only"
    if a<0:
        a=-1*a
    if b<0:
        b=-1*b
    if b==0:
        return a
    else:
    
        return gcd(b,a%b)

In [87]:
gcd(48,-1)

1

In [90]:
# how to convert a number from decimal to binary using recursion
def decimal(n):
    if n==0:
        return 1
    else:
        return n%2 +10 *decimal(int(n/2))

In [91]:
decimal(10)

11010

In [96]:
def decimaltobinary(n):
    assert int(n)==n,"the parameter must be an integer only"
    if n==0:
        return 0
    else:
        return n%2 +10 * decimaltobinary(int(n/2))

In [97]:
decimaltobinary(5)

101

In [99]:
array=[1,2,3,4,5]
array[0] #it takes constant time to access first element

1

In [100]:
"""
complexity         name         sample
o(1)               constant     accessing a specific element in array
o(N)               linear        loop through array elements
o(long n)          logarithmic   find an element in sorted array
o(n2)              quadratic      looking an a every index in the array twic
o(2n)              exponetial     double recursion in fibonacci

"""

'\ncomplexity         name         sample\no(1)               constant     accessing a specific element in array\no(N)               linear        loop through array elements\no(long n)          logarithmic   find an element in sorted array\no(n2)              quadratic      looking an a every index in the array twic\no(2n)              exponetial     double recursion in fibonacci\n\n'

In [101]:
array=[1,2,3,4,5]
array[0]# constant time

1

In [102]:
# linear time
arr=[1,2,3,4,5,6]
for element in arr:
    print(element) # linear constant

1
2
3
4
5
6

In [109]:
#logarithmaic time
array=[1,2,3,4,5]
for index in range(0,len(array),3):
    print(array[index]) # logarithmic constant

1
2
3
4
5

In [115]:
# quadratic time
arr=[1,2,3,4,5]
for x in arr:
    for y in arr:
        print(arr[x*y] )# quadratic time

2
3
4
5

IndexError: list index out of range

In [124]:
arr=[1,2,3]
for i in arr:
    for j in arr:
        print(j,end='')

123123123

In [129]:
i=0
n=4
while(i<n):
    i=i+1
    print(i)

1
2
3
4

In [132]:
for i in range(1,10):
    print(i,end='')

123456789

In [139]:
def pair(n):
    sum=0
    for i in range(0,n+1):
        sum=sum+pair(i,i+1)
    return sum

In [141]:
def pair(a,b):
    return a+b

In [142]:
pair(2,3)

5

In [143]:
arrA=[1,2,3]
arrB=[4,5,6]
for a in arrA:
    print(a)
for b in arrB:
    print(b)

1
2
3
4
5
6

In [144]:
for i in arrA:
    for b in arrB:
        print(a,b)

3 4
3 5
3 6
3 4
3 5
3 6
3 4
3 5
3 6

In [145]:
A=[1,2,3,4]
B=[5,6,7,8]

In [146]:
A

[1, 2, 3, 4]

In [147]:
B

[5, 6, 7, 8]

In [148]:
for i in A:
    print(i)
for i in B:
    print(i)

1
2
3
4
5
6
7
8

In [149]:
for a in A:
    for b in B:
        print(a,b)

1 5
1 6
1 7
1 8
2 5
2 6
2 7
2 8
3 5
3 6
3 7
3 8
4 5
4 6
4 7
4 8

In [150]:
# how to measure the codes using big o
# rule 1 if any assingment statement and if statement that are executed once ragardless of the size
# if simple loop for loop from 0 to n ( with no internal loops)
# a loop in which the controlling parameter is divided by two at each step
# when dealing with multiple statement just add them up

In [151]:
sample=[10,30,20,50,80,90,400,161,85,26,46]

In [158]:
def biggest(sample):
    biggest=sample[0]---------o(1)
    for index in range(1,len(sample)):----o(n)
        if sample[index]> biggest:----o(1)
            biggest=sample[index]------o(1)
    print( biggest)-----------o(1)

In [160]:
biggest(400)

TypeError: 'int' object is not subscriptable

In [1]:
def find(arr,n):
    if n==1:
        retrun arr[0]
    return max(arr[n-1],find(arr,n-1))
arr=[2,3,5,6,9]
n=len(arr)
print(find(arr,n))

SyntaxError: invalid syntax (<ipython-input-1-40505e9ae2f1>, line 3)

In [2]:
def f(n):
    if n<=1:
        return 1
    return f(n-1)+f(n-1)

In [4]:
f(4)

8

In [5]:
def foo(arr):
    sum=0
    product=1
    for i in arr:
        sum+=1
    for i in arr:
        product*=1
    print("sum="+str(sum)+"product="+str(product))

In [6]:
foo([1,2,3])

sum=3product=1

In [7]:
def pari(arr): # time complexity is o(n^2)
    for i in arr:#--------o(n2)
        for j in arr:#----o(n)
            print(str(i)+""+str(j))#----o(1)

In [9]:
pari([1,2,3,4])

11
12
13
14
21
22
23
24
31
32
33
34
41
42
43
44

In [13]:
def pair(arrA,arrB):
    for i in arrA:
        for j in arrB:
            if arrA[i]<arrB[j]:
                print(str(arrA[i])+","+str(arrB[j]))

In [14]:
pair(2,3)

TypeError: 'int' object is not iterable

In [15]:
# reverse
def reverse(arr):
    for i in range(0,int(len(arr)/2)):
        other=len(arr)-i-1
        temp=arr[i]
        arr[i]=arr[other]
        arr[other]=temp
    print(arr)

In [16]:
reverse([1,2,5,6])

[6, 5, 2, 1]

In [17]:
def allfib(n):
    for i in range(n):
        print(str(i)+""+str(i))

In [18]:
allfib(5)

00
11
22
33
44

In [19]:
# assign it to a variable
# define the type of elements that it will store
# define its size (the maximum numbers of elements)

In [20]:
from array import*

In [30]:
arr=array('i',[1,2,3,4,5,6])
arr1=array('d',[1.3,1.5,1.4])
#print(arr1)
print(arr)
arr.insert(6,7)
print(arr)

array('i', [1, 2, 3, 4, 5, 6])
array('i', [1, 2, 3, 4, 5, 6, 7])

In [32]:
# insert an array
def trav(arr):
    for i in arr:#-------o(n)
        print(i) #--------o(1)
trav(arr)

1
2
3
4
5
6
7

In [33]:
# access array element
index=[1,2,3,4,5,6]

In [36]:
def access(index,i):
    if i >= len(index):#------o(1)
        print("there is not any element in this index")#---o(1)
    else:
        print(index[i])#-------o(1)

In [40]:
access(index,9)

there is not any element in this index

In [41]:
# finding an element
string="this is manjunath"

In [42]:
def search(string,value):
    for i in string:
        if i== value :
            return string.index[value]
    return "this string is not availble"

In [44]:
search(string,'t')

TypeError: 'builtin_function_or_method' object is not subscriptable

In [45]:
arr=[1,2,3,4]

In [52]:
def search(arr,value):
    for i in arr:
        if i== value :
            return arr.index(value)
    return "this is not availble"

In [53]:
search(arr,2)

1

In [62]:
string="kslksdlkjsakjksjdflkasjdlkj"

In [63]:
def search(string,value):
    for i in string:
        if i==value:
            return string.count(value)
    return "not in string:"

In [65]:
search(string,'s')

5

In [66]:
# time and space complexity in one dimensional array
"""
operation                     time com     space
creating an empty             o(1)        o(n)
inserting a value in an array o(1)/o(n)   o(1)
traversing a given array      o(n)        o(1)
accessing a given cell        o(1)        o(1)
searching a given value        o(n)       o(1)
deleting given value           o(1)/o(n)   o(1)
"""

'\noperation                     time com     space\ncreating an empty             o(1)        o(n)\ninserting a value in an array o(1)/o(n)   o(1)\ntraversing a given array      o(n)        o(1)\naccessing a given cell        o(1)        o(1)\nsearching a given value        o(n)       o(1)\ndeleting given value           o(1)/o(n)   o(1)\n'

In [67]:
from array import *

In [68]:
# creating an array and traverse
my_array=array('i',[1,2,3,4,5])
for i in my_array:
    print(i)

1
2
3
4
5

In [69]:
# accessing any value to the array using append method
my_array[0]

1

In [70]:
my_array.append(7)

In [71]:
my_array

array('i', [1, 2, 3, 4, 5, 7])

In [72]:
my_array.append(6)

In [73]:
my_array

array('i', [1, 2, 3, 4, 5, 7, 6])

In [74]:
# insert value array usig insert method
my_array.insert(0,11)

In [75]:
my_array

array('i', [11, 1, 2, 3, 4, 5, 7, 6])

In [76]:
# extend python array using extend method
my_array1=array('i',[10,11,12])

In [79]:
my_array.extend(my_array1)

In [80]:
my_array

array('i', [11, 1, 2, 3, 4, 5, 7, 6, 10, 11, 12])

In [81]:
# add item list into array using fromlist method
temp=[20,21,22]
my_array.fromlist(temp)

In [82]:
my_array

array('i', [11, 1, 2, 3, 4, 5, 7, 6, 10, 11, 12, 20, 21, 22])

In [83]:
# remove any array element pop method
my_array.pop()

22

In [84]:
my_array

array('i', [11, 1, 2, 3, 4, 5, 7, 6, 10, 11, 12, 20, 21])

In [85]:
# remove method
my_array.remove(11)

In [86]:
my_array

array('i', [1, 2, 3, 4, 5, 7, 6, 10, 11, 12, 20, 21])

In [87]:
# fetch any element throug using index method
my_array.index(20)

10

In [88]:
# reverse method
my_array.reverse()

In [89]:
my_array

array('i', [21, 20, 12, 11, 10, 6, 7, 5, 4, 3, 2, 1])

In [90]:
# get array buffer information buffer method
my_array.buffer_info()

(1520277871152, 12)

In [93]:
# check the number of occurance
my_array.count(11)

1

In [94]:
# convert array to string tostring method
tempstr=my_array.tostring()

In [95]:
tempstr

b'\x15\x00\x00\x00\x14\x00\x00\x00\x0c\x00\x00\x00\x0b\x00\x00\x00\n\x00\x00\x00\x06\x00\x00\x00\x07\x00\x00\x00\x05\x00\x00\x00\x04\x00\x00\x00\x03\x00\x00\x00\x02\x00\x00\x00\x01\x00\x00\x00'

In [96]:
# convert array python list 
the=my_array.tolist()

In [97]:
the

[21, 20, 12, 11, 10, 6, 7, 5, 4, 3, 2, 1]

In [98]:
# append a string to char array using fromstring method
# slicing an array
my_array[1:4]

array('i', [20, 12, 11])

In [100]:
# two dimensional array
# day 1-11,15,10,6
import numpy as np

In [101]:
two=np.array([[11,15,10,6],[10,14,111,51],[12,17,12,8],[15,18,14,9]])

In [3]:
two

NameError: name 'two' is not defined

In [108]:
# insertion -two dimensional array
# adding colum
# adding row
newtwo=np.insert(two,1,[[1,2,3,4]],axis=0)

In [109]:
newtwo

array([[ 11,  15,  10,   6],
       [  1,   2,   3,   4],
       [ 10,  14, 111,  51],
       [ 12,  17,  12,   8],
       [ 15,  18,  14,   9]])

In [110]:
three=np.append(two,[[1,2,3,4]],axis=0)

In [111]:
three

array([[ 11,  15,  10,   6],
       [ 10,  14, 111,  51],
       [ 12,  17,  12,   8],
       [ 15,  18,  14,   9],
       [  1,   2,   3,   4]])

In [113]:
# acces an element of two-dimensional array
#a[i][j]----> i is the row index j is column index

In [116]:
def access(two,row,col):
    if row>=len(two) and col>=len(two[0]):
        print("incorrect index")
    else:
        print(two[row][col])

In [118]:
access(two,2,3)

8

In [119]:
# traverse two dimensional array
def trav(two):
    for i in range(len(two)):
        for j in range(len(two[0])):
            print(two[i][j])

In [120]:
trav(two)

11
15
10
6
10
14
111
51
12
17
12
8
15
18
14
9

In [1]:
def traverse(arr):
    for i in range(len(arr)):
        for j in range(len(arr[0])):
            print(arr[i][j])

In [2]:
traverse(two)

NameError: name 'two' is not defined

In [4]:
two=[[11,15,10,6],[10,14,11,5],[12,17,12,8],[15,18,14,9]]

In [5]:
two

[[11, 15, 10, 6], [10, 14, 11, 5], [12, 17, 12, 8], [15, 18, 14, 9]]

In [6]:
def trav(two):#-------o(1)
    for i in range(len(two)):#------o(mn)
        for j in range(len(two[0])):#----o(1)
            print(two[i][j])#----o(1)

In [7]:
trav(two)

11
15
10
6
10
14
11
5
12
17
12
8
15
18
14
9

In [8]:
# searching two dimensional array
# linear search

In [9]:
def search(two,value):
    for i in range(len(two)):
        for j in range(len(two[0])):
            if two[i][j]==value:
                return "the value is located at index"+str[i]+""+str[j]
            return "the element is not found"

In [10]:
search(two,5)

'the element is not found'

In [11]:
search(two,12)

'the element is not found'

In [12]:
search(two,14)

'the element is not found'

In [19]:
# searching in string
string="kjlaksjahsjhsiuwejksjnasdokaosj"

In [25]:
def search(string,value):
    for i in string:
        if i==value:
            return string.count(i)
    return dict(i)

In [27]:
search(string,'5')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [30]:
import numpy as np
# deletion array
newtwo=np.delete(two,0,axis=0)

In [31]:
two

[[11, 15, 10, 6], [10, 14, 11, 5], [12, 17, 12, 8], [15, 18, 14, 9]]

In [32]:
"""
operation                  timecomplexity         space com
creating an empty array      o(1)                 o(mn) 
"""

'\noperation                  timecomplexity         space com\ncreating an empty array      o(1)                 o(mn) \n'

In [33]:
# when to use
"""
-  to store multiple varaible of same data type
-random access
-
"""

'\n-  to store multiple varaible of same data type\n-random access\n-\n'

In [35]:
# python list
# a list is data structure that holds an ordered collection of item
integer=[1,2,3,4]
print(integer)

[1, 2, 3, 4]

In [36]:
stringlist=["milk",'cheese','butter']
print(stringlist)

['milk', 'cheese', 'butter']

In [37]:
mixlist=['kannur','manjunath',2.5,12,15]

In [38]:
mixlist

['kannur', 'manjunath', 2.5, 12, 15]

In [39]:
nestedlist=[1,2,3,4,[1.5,1.6,],['test']]

In [40]:
nestedlist

[1, 2, 3, 4, [1.5, 1.6], ['test']]

In [41]:
empty=[]

In [42]:
print(empty)

[]

In [43]:
# accessing/travese the list
shoppinglist=['milk','cheese','butter']

In [44]:
shoppinglist

['milk', 'cheese', 'butter']

In [45]:
print(shoppinglist)

['milk', 'cheese', 'butter']

In [47]:
shoppinglist[2]

'butter'

In [48]:
print('milk' in shoppinglist)

True

In [49]:
shoppinglist[-1]

'butter'

In [50]:
shoppinglist[-2]

'cheese'

In [51]:
shoppinglist[-0]

'milk'

In [52]:
for i in shoppinglist:
    print(i)

milk
cheese
butter

In [55]:
for i in range(len(shoppinglist)):
    shoppinglist[i]=shoppinglist[i]+""
    print(shoppinglist[i])

milk+-
cheese+-
butter+-

In [57]:
empty=[]
for i in empty:
    print(i,"M empty")

In [58]:
# update/insertion -list
mylist=[1,2,3,4,5,6,7]

In [59]:
mylist

[1, 2, 3, 4, 5, 6, 7]

In [60]:
mylist[2]=33

In [61]:
mylist

[1, 2, 33, 4, 5, 6, 7]

In [62]:
mylist[4]=55

In [63]:
mylist # time complexity o(1) & space complexity

[1, 2, 33, 4, 55, 6, 7]

In [64]:
"""
list methods
-insert()
-append()
-extend()
"""

'\nlist methods\n-insert()\n-append()\n-extend()\n'

In [65]:
mylist.insert(0,11)

In [66]:
mylist

[11, 1, 2, 33, 4, 55, 6, 7]

In [67]:
mylist

[11, 1, 2, 33, 4, 55, 6, 7]

In [68]:
mylist

[11, 1, 2, 33, 4, 55, 6, 7]

In [69]:
mylist.insert(4,15)

In [70]:
mylist

[11, 1, 2, 33, 15, 4, 55, 6, 7]

In [71]:
mylist.append(55)

In [72]:
mylist

[11, 1, 2, 33, 15, 4, 55, 6, 7, 55]

In [73]:
newlist=[11,12,13,14]

In [74]:
newlist

[11, 12, 13, 14]

In [75]:
mylist.extend(newlist)

In [76]:
mylist

[11, 1, 2, 33, 15, 4, 55, 6, 7, 55, 11, 12, 13, 14]

In [77]:
mylist.append(69)

In [78]:
mylist

[11, 1, 2, 33, 15, 4, 55, 6, 7, 55, 11, 12, 13, 14, 69]

In [79]:
mylist.extend(newlist)

In [80]:
mylist

[11, 1, 2, 33, 15, 4, 55, 6, 7, 55, 11, 12, 13, 14, 69, 11, 12, 13, 14]

In [81]:
mylist=['a','b','c','d','e','f','g','h']

In [82]:
mylist

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [83]:
mylist[0:2]

['a', 'b']

In [84]:
mylist[:2]

['a', 'b']

In [85]:
mylist[1:]

['b', 'c', 'd', 'e', 'f', 'g', 'h']

In [86]:
mylist[:1]

['a']

In [87]:
mylist[0:2]=['x','y']

In [88]:
mylist

['x', 'y', 'c', 'd', 'e', 'f', 'g', 'h']

In [89]:
mylist

['x', 'y', 'c', 'd', 'e', 'f', 'g', 'h']

In [90]:
# list deletion methods
# pop(),remove()
mylist.pop()

'h'

In [93]:
mylist.remove('x')

In [94]:
mylist

['y', 'c', 'd', 'e', 'f', 'g']

In [95]:
mylist.pop(2)

'd'

In [96]:
mylist

['y', 'c', 'e', 'f', 'g']

In [97]:
mylist.pop(3)

'f'

In [98]:
mylist

['y', 'c', 'e', 'g']

In [99]:
# delete method
mylist

['y', 'c', 'e', 'g']

In [102]:
del mylist[0]

In [103]:
mylist

['c', 'e', 'g']

In [104]:
del mylist[1]

In [105]:
mylist

['c', 'g']

In [106]:
mylist

['c', 'g']

In [107]:
mylist

['c', 'g']

In [108]:
del mylist[0]

In [109]:
mylist

['g']

In [110]:
mylist

['g']

In [112]:
 mylist.remove('g')

In [113]:
mylist

[]

In [ ]:
# all list method space complexity o(n)

In [114]:
mylist=[10,20,30,40,50,60,70,80,90]

In [115]:
mylist

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [117]:
# searching in operator
if 20 in mylist:
    print(mylist.index(20))
else:
    print("the value does not exist in the list")

1

In [ ]:
if 100 in my